// Estilos para el formulario
.form-frame {
  // Fondo blanco semitransparente para el formulario
  background: #fff;
  // Espaciado interno definido por una variable (debe declararse en otro lugar)
  padding: $form-padding;
  // Bordes redondeados
  border-radius: 15px;
  // Sombra para dar profundidad al formulario
  box-shadow: $box-shadow;
  // El formulario ocupa el 100% del ancho disponible pero con un máximo de 600px
  width: 100%;
  max-width: 600px;
  // Centrado vertical y horizontal mediante margen automático
  margin: 5rem auto;
  align-items: center; /* Centra verticalmente */

  h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-align: center; /* Centra el texto */
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
  }

  p {
    font-size: 16px;
    text-align: center;
    color: #333; /* Color de texto opcional */
    margin: 1rem 0; /* Espaciado opcional */
  }



  .form-control {
    // Mixin para entradas con bordes redondeados (debe definirse en otro archivo)
    @include rounded-input;
    // Espaciado interno para los campos de entrada
    padding: 0.75rem;
    // Hacer que el ancho sea responsivo
    width: 100%;
    max-width: 600px; /* Ajusta según tus necesidades */
  
    &:focus {
      // Color del borde y sombra cuando el campo está enfocado
      border-color: $primary-color;
      box-shadow: 0 0 5px #150ca6;
    }
  }

  .forgot-password {
    margin-bottom: $button-spacing;
    font-size: 1rem;
    color: #150ca6;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  button {
    background-color: $gray-color;
    @include rounded-input;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    padding: 0.75rem;
    &:hover {
      background-color: $colorHover;
    }
  }

  .btn-inactive {
    background-color: gray;
    color: white;
  }

  .btn-active {
    background-color: $secondary-color;
    color: white;
  }

  // Media query para pantallas pequeñas (ancho máximo de 768px)
  @media (max-width: 768px) {
    padding: 1rem;
    width: 100%;
    h1.edulink {
      font-size: 1.5rem;
    }
  }

  // Media query para pantallas medianas (entre 768px y 991px)
  @media (min-width: 768px) and (max-width: 991px) {
    padding: 1.5rem;
    width: 80%;
  }

  .error-message {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }
}

.logo-image {
  width: 150px; /* Ajusta el tamaño de la imagen según tus necesidades */
  height: auto;
  margin-bottom: 1.5rem; /* Espaciado entre la imagen y el título */
  margin-left: 3rem;
}

// Estilos para la vista de login
.login-view {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/img/imagensesion.jpg');
  background-size: cover;
  background-position: center;
  
}
