$primary-color: #007bff;
$secondary-color: #0056b3;
$colorPrincipal: #150ca6;
$colorSecundario:#05035d;
$colorHover: #030142;
$gray-color: #c3c7c9; // Color gris para el botón
$background-color: #f8f9fa;
$button-radius: 8px; 
$box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
$form-padding: 3rem; // Aumenta el relleno para darle más altura al formulario
$button-spacing: 4rem; // Espaciado entre el botón y "¿Olvidaste tu contraseña?"
$font-family: 'Rethink Sans', sans-serif;



